.bundle
.DS_Store
log/*.log
tmp/**/*
config/database.yml
config/twitter.yml
config/initializers/site_keys.rb
db/*.sqlite3
*~
*.swp
*.swo
.project
db/schema.rb
.idea
.sass-cache
mkmf.log
public/stylesheets/compiled
public/assets
public/javascripts/all.js
public/stylesheets/all.css
capybara*
public/system/
