body

  #top, #bottom
    a
      color: #e9c41a
      text-decoration: none
      text-transform: uppercase
      &:hover
        color: orange
  
  #bottom
    a
      color: #666
      font-weight: bold