= render :partial => 'filter' if params[:action] == "index"

- if @problems.empty?
  %p No problems have been reported yet
- else
  %table
    %thead
      %tr
        %th Description
    %tbody
      - @problems.each do |problem|
        %tr
          %th= link_to problem.description, problem

Total: 
= pluralize @problems.total_entries, "problem"
