.block
  %h3= t("web-app-theme.actions")
  %ul.navigation
    %li= link_to t("web-app-theme.send_problems_to_municipalities"), sent_admin_problems_path, :method => :put, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

