@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

@import "partials/general"
@import "partials/forms"
body
  background: #efefef
  font-family: Ariel, Helvetica, sans-serif
  .wrapper
    width: 960px
    margin: 0 auto  
    
  .left
    float: left
  .right
    float: right

  #top, #bottom
    a
      color: #e9c41a
      text-decoration: none
      text-transform: uppercase
      &:hover
        color: orange

  #top
    background: image_url("background.jpg") #000 center top no-repeat
    height: 450px
    overflow: hidden
  
    a
      font-size: 0.8em
        
    #header
      margin-bottom: 100px
      overflow: hidden
      width: 100%
      #logo
        a
          background: image_url("dashed.jpg") #e9c41a bottom left repeat-x
          color: #222
          float: left

          font-size: 1.8em
          font-weight: bold
          letter-spacing: 0.1em
          line-height: 0.7em
          padding: 40px 30px 30px
          &:hover
            background: image_url("dashed.jpg") orange bottom left repeat-x
            color: #111
          
          span
            font-size: 0.36em
            letter-spacing: 0.2em
  
      #app_nav, #user_nav
        float: right
        font-size: 0.8em
        margin-top: 30px
        padding: 15px
    
      #app_nav
        background: #222
        letter-spacing: 0.15em
        a
          padding: 0 10px
  
      #user_nav
        background: #191919
        color: #444
        a
          padding: 0 5px
  
    #action
      clear: both
      color: #efefef
      padding-right: 600px
      #slogan
        h2
          font-size: 1.5em
          font-weight: bold
          padding-bottom: 10px
        p
          color: #aaa
          font-size: 0.8em
          line-height: 1.2em
          padding-bottom: 20px
      #download, #report
        float: left
        height: 50px
        padding: 15px 0 0 70px
        a
          font-size: 1em
          font-weight: bold
          letter-spacing: 0.1em
          span
            font-size: 0.6em
            font-weight: normal
            
      #download
        background: image_url("arrow_download.png") no-repeat left top
        padding-right: 20px
      #report
        background: image_url("arrow_report.png") no-repeat left top
        a:hover
          color: green
        
  #middle
    margin: 40px 0
    overflow: hidden
    
    #notice
      background: white
      border-bottom: 1px solid #eee
      color: green
      font-size: 0.9em
      padding: 10px
    .section
      float: left
      margin-right: 30px
      overflow: hidden
      width: 465px
      &.last
        margin: 0
        
      h2
        background: #222
        color: white
        font-weight: bold
        padding: 15px 20px
      h2, p, .problem
        margin-bottom: 1px
      p, .problem
        background: white
        border-left: 5px #fff solid
        color: #444
        font-size: 0.8em
        padding: 15px 20px 10px 15px
        &:hover
          border-left: 5px #333 solid 
      img
        float: left
        padding-right: 10px
      .t_user
        color: orange
        font-size: 0.9em
        font-weight: bold
        padding-bottom: 5px
        text-transform: uppercase
      .t_text
        padding-bottom: 7px
        a
          color: #333
          &:hover
            color: orange
      .t_date
        color: #999
        font-size: 0.8em
        padding-left: 58px
        text-transform: uppercase
      .problem
        overflow: hidden
        img
          float: left
          width: 70px
          
        .desc
          float: left
          width: 300px
        a
          color: #666
          display: block
          line-height: 1.2em
          margin-bottom: 10px
          text-decoration: none
          &:hover
            color: #333
        h4
          font-size: 1.2em
          font-weight: bold
          padding-bottom: 10px
        h6
          color: #999
          font-size: 0.8em
          text-transform: uppercase

          
        
  #bottom
    background: #e9e9e9
    color: #aaa
    font-size: 0.65em
    overflow: hidden
    text-transform: uppercase
    a
      color: #666
      font-weight: bold
    .left, .right
      padding: 25px 0 20px 0
      
  form.formtastic fieldset > ol > li p.inline-errors
    font-size: 0.8em
    margin: 5px 0 0 0
      
  &#problems_new, &#problems_show, &#problems_index, &#registrations_new, &#registrations_create, &#sessions_new, &#passwords_new, &#confirmations_new
    #top
      height: 100px
      
    .step1, .step2, .step
      background: white
      overflow: hidden
      padding: 20px

    .step1
      margin-bottom: 30px
      .left
        width: 320px
    .step2
      padding: 30px 20px 0
    .step2, .step
      clear: all
      form
        overflow: hidden
      ol
        width: 440px
        li

      .inputs
        color: #999
        float: left
        font-size: 0.8em
        padding-right: 20px
        text-transform: uppercase
        ol li
          margin-bottom: 5px
        textarea
          +border-radius
          background: #eee
          border: 1px #dcdcdc solid
          height: 235px
          width: 100%

        label
          margin-bottom: 5px
        #problem_photo
          border: 1px #dcdcdc solid
          height: 25px
        .required
          label
            width: 100%

      .buttons
        margin-top: 20px
        padding-left: 0
        width: 100%
        input
          +border-radius
          background: #333
          border: none
          color: orange
          cursor: pointer
          padding: 12px 10px 10px
          text-transform: uppercase
          &:hover
            background: green
            color: white
    .step
      width: 600px
      margin-left: 180px
      li
        margin-bottom: 10px
      .inputs
        margin-bottom: 20px
        ol
          width: 100%
          li
            margin-bottom: 20px
        #user_email, #user_password
          width: 500px
      .required
        #user_remember_me
          width: auto
          font-size: 0.6em
        label
          margin: 0
          padding: 0 0 5px 0
          width: auto
      a
        color: #aaa
        float: left
        font-size: 0.8em
        padding-bottom: 5px
        width: 100%
        &:hover
          color: #333
            
    select, input
      +border-radius
      background: #eee
      border: 1px solid #dcdcdc
      height: 30px
      width: 300px

        
    .commit
      input
        +border-radius
        background: #eee
        border: 1px solid white
        height: auto
        width: 100%

           
    h2
      color: #999
      font-size: 1.2em
      font-weight: bold
      padding: 20px 0 20px 0
      text-transform: uppercase

    #map_buttons, #geocode_results
      float: left
      width: 320px

      a
        color: #333
        font-size: 0.7em
        text-decoration: none
        text-transform: uppercase
        &:hover
          color: orange
          
      input
        +border-radius
        background: #eee
        border: 1px solid #dcdcdc
        font-size: 1em
        margin-bottom: 10px
        padding: 7px
        width: 260px
        &:hover
          background: #dcdcdc
          
      #search_address
        +border-radius
        background: #dcdcdc
        float: left
        padding: 10px 10px 7px 10px
        &:hover
          background: #666
          
      #delete_marker
        +border-radius
        background: #dcdcdc
        float: right
        margin-right: 45px
        padding: 10px 10px 7px 10px
        &:hover
          background: #666
        
    #geocode_results
      margin-top: 30px
      a
        background: #eee
        color: green
        padding: 10px
        
    #map
      float: right
      #map_canvas
        width: 600px