%p
  Добредојдовте на popravi.mk, #{@resource.email}!

%p Вашата сметка можете да ја потврдите преку линкот долу:

%p= link_to 'Потврди ја мојата сметка', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p
  \--
  %br/
  http://popravi.mk
