%p
  Добредојдовте на popravi.mk, #{@resource.email}!

%p Вашата сметка можете да ја потврдите преку линкот долу:

%p= link_to t('devise.confirmations.confirm_mail'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p
  \--
  %br/
  http://popravi.mk
