.step
  %p Здраво #{@resource.email}!

  %p Некој побара промена на лозинка за вашата e-mail адреса, и тоа може да се направи преку линкот долу.

  %p= link_to 'Промени ја мојата лозинка', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

  %p Доколку вие не го побаравте ова, ве молиме игнорирајте го овој e-mail.

  %p Вашата лозинка нема да биде промената се додека не пристапите преку линкот и креирате нова.
  %p
    \--
    %br/
    http://popravi.mk
