.wrapper
  .section
    %h2 Posledni zapisi
    %p Zapis 1
    %p Zapis 1
    %p Zapis 1  
  
  .section
    %h2 Posledni zapisi
    %p Zapis 1
    %p Zapis 1
    %p Zapis 1
    
  .section.last
    %h2 Posledni zapisi
    %p Zapis 1
    %p Zapis 1
    %p Zapis 1