- title(@title)
- description(@title)

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
:javascript
  google.load("visualization", "1", {packages:["corechart"]});


%h2.main_title= @title

#chart{'data-chart_type' => params[:id], 'data-chart_title' => @title}
