%h2 Ја заборавивте лозинката?

- semantic_form_for resource_name, resource, :url => password_path(resource_name) do |f|
  - f.inputs do
    = f.input :email, :label => 'E-mail'
  - f.buttons do
    = f.commit_button 'Испрати ми упатство за ресетирање на лозинка'

= render :partial => "shared/devise_links"
