- title(@commentable.title)
- description(truncate(@commentable.content, :length => 100))

.step2
  .name
    %h2
      = @commentable.title
    %h4
      = render 'posts/timestamp', :post => @commentable

    %p= raw textilize(@commentable.content)

  = render 'comments/comments', :commentable => @commentable, :comments => @comments
