- title(@post.title)
- description(truncate(@post.content, :length => 100))

.step2
  .name
    %h2
      = @post.title
    %h4
      = render 'posts/timestamp', :post => @post
  
    %p= simple_format @post.content

  = render 'comments/comments', :commentable => @post
